<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<form class = "form-group">

<div class = "form-group">
<label for = "UserName">UserName</label>
<input ngModel name = "UserName" #UserName = "ngModel" type = "text" minlength = "6" maxlength = "15" [pattern] = "userNamePattern" class = "form-control" id = "UserName" (change) = "log(UserName)">
<div class = "alert alert-danger" *ngIf = "UserName.touched && !UserName.valid">
<!-- validations for username -->
<div *ngIf = "UserName.errors.required">username is required</div>
<div *ngIf = "UserName.errors.minlength">minimum length should be {{UserName.errors.minlength.requiredLength}}</div>
<div *ngIf = "UserName.errors.pattern">did't match the pattern</div>
</div>
</div>

<div class = "form-group">
<label for = "Password">Password</label>
<input ngModel name = "password" #password = "ngModel" type = "text" minlength = "6" class = "form-control" id = "Password" [pattern] = "passwordPattern" (change) = "log1(password)">
<!-- validations for password -->
<div class = "alert alert-danger" *ngIf = "password.touched && !password.valid">
<div *ngIf = "password.errors.required">password is required</div>
<div *ngIf = "password.errors.minlength">minimum length should be {{password.errors.minlength.requiredLength}}</div>
<div *ngIf = "password.errors.pattern">did't match the pattern</div>
</div>
</div>

<button class = "btn btn-primary">Submit</button>

</form>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>